data/
Data/

outputs/
logs/
runs/
wandb/

__pycache__/
*.pyc
.ipynb_checkpoints/

*.png
*.jpg
*.jpeg
*.npy
*.npz
*.pkl

Competition/submissions/*/model_last.pt
submissions/*/model_last.pt

my_favorite_model.pt
